%h3 Users
.span8
  %table.table.table-condensed
    %thead
      %tr
        %th Avatar
        %th Name
    %tbody
      - @users.each do |user|
        %tr
          %td
            = image_tag(user_avatar(user),height: 50, width: 50)
          %td=link_to  user.name, user_path(user)
=paginate @users