%h3 User
.row-fluid
  .span8
    = image_tag(user_avatar(@user))
  .span4
    %p
      User: #{@user.name}
    %p
      Email: #{@user.email if @user.email}
%br
%p
  -if @user.about_me!=""
    %h4 About me:
    %p #{@user.about_me}