#fb-root
%h2 Sign in
%button#fblogin{href: "#", :class => 'btn btn-primary'} FB Login
= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f|
  = f.input :email, :autofocus => true
  = f.input :password
  = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?
  = f.button :submit, "Sign in", :class => 'btn-primary'
= render "devise/shared/links"
